# Ignore all build directories
build/
build_isolated/
devel/
devel_isolated/
install/
install_isolated/

# Ignore all log directories
logs/
*.log

# Ignore Python bytecodes
__pycache__/
*.pyc
*.pyo

# Ignore temporary files
*~
*.swp
*.tmp

# Ignore user-specific files
.idea/
*.user
*.user.*
.vscode/

# Ignore other unnecessary files
.DS_Store
*.pid
*.pid.lock

# Ignore specific ROS files
*.bag
*.bag.active
*.bag.index